@mixin mobile {
    @media only screen and(max-width: 375px){
        @content;
    }
}


$mycolored:hsl(0, 100%, 68%);
$myVeryDarkBlue: hsl(230, 11%, 40%);
$GrayishBlue: hsl(231, 7%, 65%);
$LightGrayishBlu :hsl(207, 33%, 95%);
$VeryDarkBlue: hsl(230, 29%, 20%);
$sizefon :18px;

* {
    padding: 0;
    margin: 0;
     
   
}

    body {
        width: 80%;
        margin: 0 auto;
        font-family: 'Barlow Condensed', ;
        font-family: 'Barlow', ;

            header {
                
                .head {
                  
                    width: 100%;
                    height: 60vh;
                    top: 0;
                    right: 0;
                    .logo{
                        float:left;
                        padding-top: 40px;
                        display: block;
                        padding-left: 10%;
                    
                    } 
                    .navbar {
                       
                        .navbar__ham {
                            display: none;
                            @include mobile(){
                            display: block;
                            position: absolute;
                            top: 8%;
                            right: 5%;
                            }

                            
                        }


                        float: right;
                        width: 50%;
                        height: 50vh;
                        right: 0;
                        position: absolute;
                        background-color: $LightGrayishBlu;
                        border-bottom-left-radius: 80px 80px;
                        
                        #check{
                            display: none;
                            width: 25px;
                            height: 25px;
                            position: absolute;
                            z-index: 10;
                            top: 8%;
                            right: 5%;
                            opacity: 0;
                            &:checked~.navbar__menu{
                                transform: scale(1.1);
                                flex-direction: column;
                               
                                margin-top:5rem;
                                width: 80vw;
                                position: absolute;
                                // right: 10%;
                                right: 26%;
                                z-index: 10;
                                height: 200px;
                                                     
                                


                        }
                            @include mobile(){
                                display: block;
                            }
                           
                        }
                       
                        .navbar__menu{

                            color: $VeryDarkBlue;
                            font-size: $sizefon - 1;
                            list-style-type: none;
                            padding-top: 40px;
                            font-weight: 700;
                            font-family:'Barlow Condensed' ;
                            text-transform: uppercase;
                            display: flex;
                            transition-duration: 0.4s;
                            text-align: center;
                            
                           
                            
                            
                            @include mobile(){
                                transform: scale(0);
                                background-color: white;
                                box-shadow:  0PX 3PX  8PX hsla(230, 95%, 7%, 0.287);
                                
                                
                    
                               
                            }
                           
                            }
                            li {
                                
                                padding: 5px 10px;
                                margin-left:15px;
                                margin-top: 13px;

                                
                            
                                
                                    i {
                                        color:$GrayishBlue;
                                        font-size: 10px;
                                    }
                                        
                                
                                a {
                                    text-decoration:none ;
                                   
                                        

                                   
                                        
    
                                    

                                }
                                #color1{
                                    color: $VeryDarkBlue; 
                                }
                                #color {
                                            
                                    color:$GrayishBlue;
                                 
                                         }
                                .navbar__menu--on{

                                    &:hover {
                                        text-decoration: underline;
                                    }
                                    @include mobile(){
                                        // border-top: 1px solid ;
                                       



                                    }
                                   
                                
                                       
                                }
                                
                            }
                            hr {
                                // width: 7px;
                                // height: 7px;
                                background-color:$GrayishBlue;
                                border-radius: 6px;
                                @include mobile(){
                                    // display: none;
                                   
                                }
                            }

                        }
                         }
                    }
            }
            section {
                .contai{

                   position: fixed;
                   top: 25%;
                   right: 0;
                   left: 0;
                   width: 100%;
                   height: auto;
                    display: flex;
                    flex-direction: row;
                    
                   
                 
                    @include mobile(){
                    flex-direction: column-reverse;
                    }
                    
                    .image {
                        width: 50%;
                        display: block;
                        margin-top: -100px;
                        padding-bottom:60px;
                        
                      
                        
                        
                        img{
                            
                            padding-left: 10%;
                            @include mobile(){
                            width: 130vw;
                          
                            
                           
                            
                            }
                        } 
                    }
                            }
                    .texte {
                        display: block;
                        width: 50%;
                        padding-left: 10%;
                        @include mobile(){
                            width: 100%;
                            margin-top: 40px;
                        }
                      
                        
                        
                        .text__titre{

                            text-transform: uppercase;
                            font-size: $sizefon -5;
                           
                            .text__titre--text {
                                background-color: black;
                                color:$LightGrayishBlu;
                                border-radius: 10px;
                                padding: 2px 5px;
                                margin-right: 10px;
                                font-size: 14px;
                             

                            }
                            .text__titre--text2 {
                                color:$GrayishBlue ;
                                letter-spacing: 5px;
                               font-size: 14px;
                              
                             

                            }
                        }
                        .text__contain{
                            padding-top: 20px;
                            .text__contain--para1{
                            font-size:$sizefon*4 ;
                            text-transform: uppercase;
                            font-weight: 700;
                            font-family:'Barlow Condensed' ;
                            color: $VeryDarkBlue;
                            font-size: 42px;
                            }
                            .text__contain--para2 {
                                font-size: $sizefon +10;
                                color:$GrayishBlue ;
                                font-size: 22px;
                            
                            }

                        }
                        .text__button {
                                text-transform: uppercase;
                                padding-top: 20px;


                                display: flex;
                                flex-direction: row;
                           
                            .text__button--bot {
                                
                                text-transform: uppercase;
                                padding: .5rem .5rem;
                                background-color:$mycolored ;
                                border-radius:  10px;
                                border: none;
                                color: white;
                                font-family:'Barlow Condensed' ;
                                font-weight: 700;
                                &:hover {
                                    background-color:hsla(0, 100%, 68%, 0.568);
                                }
                                & a {
                                    text-decoration: none;
                                    color: white;
                                    
                                }
                            }
                            p {
                                font-family:'Barlow Condensed' ;
                                padding: 1rem 1rem;
                                color:$GrayishBlue ;
                                
                            }
                           
                        }

                    }        
                       
                } 
               
            

            .navbar__menu { 
justify-content: center;


            }

            .tit { 
letter-spacing: 4px;


            }


           


    
